<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">Nodejs Blog</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse d-flex justify-content-end"
            id="navbarNav"
        >
            <ul class="navbar-nav">
                <div class="dropdown">
                    <a
                        class="btn btn-secondary dropdown-toggle d-flex align-items-center gap-4"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <span class="d-flex align-items-center gap-2">
                            <img
                                src="https://www.gravatar.com/avatar/95798cbe66dcd5810cfe4470a6e7e4367a06c3633764a2abdaee3dad4469caa6.jpg?s=80&d=mp&r=g"
                                alt="Avatar"
                                style="width: 28px; height: 28px; aspect-ratio: 1/1; border-radius: 100%"
                            />
                            <span>Galvin</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/blogs/management">
                                Quản lý blogs
                            </a>
                            <a class="dropdown-item" href="/blogs/create">
                                Đăng Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>