<div class="mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Keywords</label>
      {{!-- <input
        type="text"
        class="form-control mt-4"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Fullname"
        name="fullname"
      />
      <input
        type="text"
        class="form-control mt-4"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Age"
        name="age"
      /> --}}
      <input
        type="text"
        class="form-control mt-4"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter keywords"
        name="q"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
  </form>
</div>